.PostShareForm {
  display: flex;
  flex-flow: column;
  border-bottom: solid 1px;
  border-color: rgba(0,0,0,0.3);
  height: 20%;
}

.PostShareTextareaWapper {
  flex: 15;
  margin-top: 1%;
}

.PostShareTextarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  outline: none;
}

.separator {
  flex: 0.5;
  display: flex;
  justify-content: center;
}

hr {
  width: 95%;
}

.ShareOptionsWrapper {
  flex: 4;
  display: flex;
  margin-left: 1%;
  margin-bottom: 1%;
  justify-content: center;
}

.ShareOption {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: auto;
  margin-bottom: auto;
}

.PostShareButtonArea {
  margin-left: auto;
}

.PostShareButton{
  /* text-color: whilte;
  background: blue; */
}

.ProfileIconNextToInput {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: solid rgba(0,0,0,0.3);
  margin-left: 1%
}

p {
  white-space: pre-wrap; /*投稿の改行コードを有効化*/
}